<p id="notice"><%= notice %></p>

<p>
  <strong>Mlscode:</strong>
  <%= @listing.mlscode %>
</p>

<p>
  <strong>Address:</strong>
  <%= @listing.address %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
