<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>directions</title>
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href="styles.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<header>
<h1>Terra Cottage Realty</h1>
<%= image_tag 'terracottage.jpg' %></br>
</header>
<div class="container-fluid">
<h2 align="center">
  <h1>Our Listings</h1>
    <section>
    <h3 id="OurListing" >Commercial Property</h3>
    <div class="photo-right"><%= link_to 'PM-33485.url', "http://www.flexmls.com/share/RfE3/632Route940LakeHarmonyPA18624" %></div>
    </section>
    <section>
    <h3 id="OurListing" ></h3>
    <div class="photo-right"><%= link_to 'PM-31234.url', "http://www.flexmls.com/share/RfF7/15187LAKEVIEWDRIVELakeHarmonyPA18624" %></div>
    </section>
    <section>
    <h3 id="OurListing" >Residential Property</h3>
    <div class="photo-right"><%= link_to 'PM-21934.url', "http:///www.flexmls.com/share/RfFN/1401BIRCHSTLakeHarmonyPA18624" %></div>
    </section>
    <section>
    <h3 id="OurListing" ></h3>
    <div class="photo-right"><%= link_to 'PM-19713.url', "http://www.flexmls.com/share/RfDf/4CGregoryPlLakeHarmonyPA18624" %></div>
    </section>
    <section>
    <h3 id="OurListing" ></h3>
    <div class="photo-right"><%= link_to 'PM-31163.url', "http://www.flexmls.com/share/RfDx/108LakeDriveLakeHarmonyPA18624" %></div>
    </section>
    <section>
    <h3 id="OurListing" ></h3>
    <div class="photo-right"><%= link_to 'PM-28456.url', "http://www.flexmls.com/share/RfEE/354RidgeRdPoconoLakePA18347" %></div>
    </section>
    <section>
    <h3 id="OurListing" ></h3>
    <div class="photo-right"><%= link_to 'PM-30922.url', "http://www.flexmls.com/share/RfHH/263HUMMINGBIRDWAYLakeHarmonyPA18624" %></div>
    </section>
    <section>
    <h3 id="OurListing" >Lakefront Land</h3>
    <div class="photo-right"><%= link_to 'PM-25971.url', "http://www.flexmls.com/share/RfDF/783ENGLISHIVYCTLongPondPA18334" %></div>
    </section>
</h2>
</div>
<footer>
</footer>
</body>
</html>


