<!doctype html>
<html>
<head>
<meta charset="utf-8">

<title>listings</title>
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<link href="styles.css" rel="stylesheet" type="text/css"/>
<body>
<header>
<h1>Our Listings</h1>

</header>
<h1>Poconos</h1>

<figure>
    <div class="photo-right"><%= image_tag 'trees-thumb.jpg' %></div>

<figcaption>Trees</figcaption>
</figure>
    <div class="photo-right"><%= image_tag 'water-thumb.jpg' %></div><figure>
<figcaption>Creek</figcaption>
</figure>


<h2>Pocono High Lights</h2>
<section>
<p>
</p>
</section>
<footer>
<nav>
<ul class="goto">
<table>
<li><%= link_to 'Contact', contact_path %></li>
<li><%= link_to 'About', about_path %></li>
<li><%= link_to 'Agents', agents_path %></li>
<li><%= link_to 'Rentals', rentals_path %></li>
<li><%= link_to 'Home', root_path %></li>
</table>
</ul>
</nav>
</footer>
</body>
</html>

